body {
    background-color: lightgreen;
    margin: 5;
    text-align: center;
    font-family: Impact;
    font-size: auto;
}
h1 {
  font-family: Impact;
  text-align: center;
  padding-top: auto;
  padding-bottom: 0px;
  font-size: 140px;
  margin-bottom: -10px
  }
h2 {
  padding-top: 0px;
  font-size: 55px;
  text-align: center;
  padding-left: 300px;
  margin-top: -30px
}
h3 {
  text-align: center;
  font-size: 20px;
  padding-bottom: 20px;
  }
table {
    width:100%;
  }
