<!DOCTYPE html>
<html>
<head> Soccer Predictor
<style>
table {
  width:100%;
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 15px;
  text-align: left;
}
#t01 tr:nth-child(even) {
  background-color: #eee;
}
#t01 tr:nth-child(odd) {
 background-color: #fff;
}
#t01 th {
  background-color: black;
  color: white;
}
</style>
</head>
<body>

<h2>Box Score</h2>

<table>
  <tr>
    <th>Home Team</th>
    <th></th> 
    <th>Away Team</th>
  </tr>
  <tr>
    <td></td>
    <td>Shots</td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td>Shots on Target</td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td>Corners</td>
    <td></td>
  </tr>
</table>
<br>

</body>
</html>
