{%  extends "test.html" %}
{%block all%}
<div class="cn">
<div class = "inner" style="float: left; width: 50%; padding-left: 75px;">
    <h1>Soccer</h1>
    <h1>Predictor</h1>
</div>
</div>
<div class="cn">
<div class="inner" style="float: right; width: 50%; padding-right: 25px">
    <img src= 'static/soccer_field_lg.png' height="350" width="500">
</div>
</div>
<p>Try the 2 interactive models by clicking below!</p>
<div class="btn-group" style="width:500px">
  <form action = '/predictor' method = 'post' style="padding-right: 50px">
    <button> Score Predictor<br> "The OG"</button>
  </form>
  <form action = '/preplot' method = 'post' style="padding-left: 50px">
    <button> Shot Predictor</button>
  </form>
</div>
{%endblock all%}