<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name=""viewpoint" content="width=device=width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
    <link rel= "stylesheet" type= "text/css" href="{{ url_for('static', filename='css/main.css') }}" />
</head>
<body>
   <img src= 'static/myplot.png' class = "soccer" height="560" width="960">
   <p>
    Percent chance of a goal: {{ percent }}
   </p>
</body>
</html>
